@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		scroll-behavior: smooth;
	}

	* {
		scroll-margin-top: 5rem;
	}

	body {
		@apply m-0 bg-neutral-100 p-0 text-black
			dark:bg-neutral-900 dark:text-white print:bg-white;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-transform: capitalize;
	}

	h1 {
		@apply text-4xl font-bold;
	}

	h2 {
		@apply text-3xl font-bold;
	}
	h3 {
		@apply text-2xl font-semibold leading-loose;
	}
	h4 {
		@apply text-xl font-bold;
	}
	h5 {
		@apply text-lg font-bold;
	}
	h6 {
		@apply text-base font-bold;
	}

	ul {
		@apply list-inside list-disc;
	}

	a {
		@apply text-sky-600 dark:text-sky-400;
	}
}
